.DS_Store
*.blend
*.mo
__pycache__
.mypy_cache
MCprep_addon/mcprep_addon_tracker.json
MCprep_addon/mcprep_addon_updater/MCprep_addon_updater_status.json
blender_execs.txt
blender_installs.txt
build
test_results.csv
debug_save_state.blend1
MCprep_addon/MCprep_resources/resourcepacks/mcprep_default/materials.blend1
mcprep_venv_*
.cache
.python-version
venv/
.venv/
*.sublime-*
MCprep_addon/import_bridge/conf
MCprep_addon/import_bridge/nbt
MCprep_addon/MCprep_resources/*.blend
MCprep_addon/MCprep_resources/mcprep_data.json
MCprep_addon/MCprep_resources/effects
MCprep_addon/MCprep_resources/resourcepacks
MCprep_addon/MCprep_resources/rigs
MCprep_addon/MCprep_resources/skins
MCprep_addon/MCprep_resources/textures
!MCprep_addon/MCprep_resources/Languages/*
MCprep_addon/.vscode
