.DS_Store
*.blend
__pycache__
MCprep_addon/mcprep_addon_tracker.json
MCprep_addon/mcprep_addon_updater/MCprep_addon_updater_status.json
blender_execs.txt
blender_installs.txt
build
test_results.tsv
debug_save_state.blend1
MCprep_addon/MCprep_resources/resourcepacks/mcprep_default/materials.blend1
mcprep_venv_*
